* {
    background-color: whitesmoke;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}

#main {
    display: flex;
    width: 100vw;
    height: 80vh;
    /* background-color: darkgoldenrod; */
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.card {
    margin-top: 30px;
    text-align: center;
    /* background-color: hotpink; */
    width: 30%;
    height: 60%;
}

.card p {
    font-family: monospace;
    font-size: 18px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    height: 70%;
    object-fit: cover;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.input-fields {
    position: relative;
    top: 50px;
    text-align: center;
    /* background-color: blue; */
    width: 60%;
    height: 200px;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.component {
    text-align: center;
    /* background-color: aqua; */
    position: fixed;
    top: 60px;
    height: 80vh;
    width: 45vw;
    z-index: 1;
}
