* {
    margin: 0;
    font-family: monospace;
    text-align: center;
}

h1 {
    font-size: 30px;
}

#main {
    position: relative;
    width: 100vw;
    height: 80vh;
}

input {
    margin: 0 5px;
}

.home-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 700px;
    width: 1000px;
    display: flex;
    background-color: whitesmoke;
    margin-top: -350px;
    margin-left: -500px;
    z-index: 2;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}
.card {
    margin-top: 30px;
    text-align: center;
    width: 30%;
    height: 35%;
    margin: 15px 15px;
    font-size: 18px;
}

img {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.header {
    position: relative;
    top: 40px;
    text-align: center;
}

.header h1 {
    margin-bottom: 30px;
}

.header form {
    margin: 0 auto;

    padding: 20px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    width: 60%;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.component {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.component img {
    margin: 20px auto;
    text-align: center;
    width: 70%;
    height: 70%;
    /* object-fit: cover; */
}
