* {
    margin: 0;
    text-align: center;
    /* font-family: "Helvetica"; */
}

/* body {
    background-color: #ffff00;
} */

@font-face {
    font-family: "Stabil";
    src: url("StabilGroteskTrial-Thin.otf");
}
@font-face {
    font-family: "Stabil-R";
    src: url("StabilGroteskTrial-Regular.otf");
}

h1 {
    font-size: 30px;
}

p {
    font-size: 15px;
    margin-top: 5px;
}

#main {
    position: relative;
    width: 100vw;
    height: 80vh;
}

input {
    margin: 0 10px;
    font-size: 18px;
    text-align: left;
    padding-bottom: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px red solid;
    color: red;
    background-color: transparent;
    /* mix-blend-mode: exclusion; */
}

::placeholder {
    color: red;
    font-size: 18px;

    background-color: transparent;

    /* opacity: 0.6; */
}

.home-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-top: 20px; */
    height: 85vh;
    width: 100vw;
    /* overflow: scroll; */
    flex-grow: 2;
    /* background-color: seagreen; */
    z-index: 4;
}

.container {
    font-family: "Stabil";
    position: fixed;
    top: 50%;
    left: 50%;
    /* height: 700px; */
    width: 1000px;
    display: flex;
    background-color: white;
    color: red;
    margin-top: -375px;
    margin-left: -500px;
    z-index: 7;
    border: 1px solid black;
    border: 6px solid red;
    padding: 5px;
}

.card {
    position: relative;
    width: 30%;
    margin: 30px 15px;
    /* border: red 1.5px solid; */
    /* padding: 10px; */
    /* border-radius: 2%; */
    z-index: 2;
}

.image-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: red;
}

.card:hover .image-hover {
    opacity: 0.8;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Stabil-R";
    font-size: 40px;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    position: fixed;
    top: 5px;
    z-index: 5;
}

.header form {
    padding: 20px;
    /* background: white; */
}

#logo {
    animation: round 30s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    position: fixed;
    width: 80vw;
    left: 10%;
    top: 20%;
    fill: red;
}

@keyframes round {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.overlay {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    z-index: 6;
}

.component {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.component img {
    margin: 30px auto;
    width: 60%;
    height: 60%;
    border-radius: 0;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}

#file {
    color: red;
    font-family: "Stabil-r";
    font-size: 18px;
    margin-right: 15px;
    margin-left: 5px;
    /* font-weight: bold; */
    /* mix-blend-mode: exclusion; */
    height: 26px;
    width: 100px;
}

.inputfile + label {
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
    color: white;
}

.box {
    background-color: transparent;
    border: 1.5px solid red;
    height: 26px;
    width: 100px;
    color: red;
    padding: 0 6px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    /* mix-blend-mode: exclusion; */

    /* height: 80px;
    width: 80px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block; */
}

.rotate {
    -webkit-transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.rotate:hover,
.rotate:active,
.rotate:focus {
    background: red;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    color: white;
}

.close-modal {
    position: absolute;
    top: 25px;
    right: 40px;
    cursor: pointer;
    font-size: 18px;
    /* font-family: "Stabil-r"; */
}

.close-rotate {
    -webkit-transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.close-rotate:hover,
.close-rotate:active,
.close-rotate:focus {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.comments-container {
    overflow: scroll;
    height: 70px;
}

.recent {
    padding: 5px;
    border-bottom: 1.5px solid red;
    margin: 25px 0;
}

#more {
    font-size: 18px;
    cursor: pointer;
    font-family: "Stabil-r";
    position: fixed;
    bottom: 27px;
    left: 49%;
    color: red;
    z-index: 5;
}
.hide-button {
    visibility: hidden;
}

#empty {
    /* background-color: blue; */
    height: 100vh;
    width: 100vw;
}

.title {
    /* background-color: royalblue; */
    margin-top: 20px;
}

.title h1 {
    margin-bottom: 10px;
}

.title p {
    font-family: "Stabil-r";
}
